/* -- Variables -- */
$main-color: #FFD700;
$other-color: #B8860B;

$black: #000;
$white: #FFF;
$dark-grey: #999;
$grey: #CCC;
$light-grey: #EEE;

$link-hover: #666;
$link-shadow: #333;

$person-hover: #4169E1;

$container-bg: #212121;

$mobile-first-link-bd: #CCD;

$title-font: Impact, sans-serif;
$body-font: Arial, sans-serif;
$main-font: 'Damion';